#root {
  max-width: 22em;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 1em;
}

#qr-code {
    border-radius: 1em;
    max-width: 22em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
